<p id="notice"><%= notice %></p>

<div class="hero-unit">

	<h1><%= @product.name %></h1>
	<% if @product.available %>
	<h2>
		<%= link_to 'is available! Buy It', @product.url, :class => 'btn btn-large btn-success' %>
	</h2>
	<% else %>
	<h4>is unavailable...</h4>
		<%= form_tag(product_subscribe_path(@product), :class => 'form-inline') do %>
		  <fieldset>
		    <div class="control-group">
		          <div class="controls">
		            <%= text_field_tag :email_address, nil, :class => "span4", :placeholder => 'Email Address' %>
		  					<%= submit_tag 'Email me when it is available', :class => 'btn btn-success' %>
		          </div>
		    </div>
		  </fieldset>
		<% end %>
	<% end %>
</div>



<small>
	<%= link_to 'check for yourself', @product.url %> if you don't believe me.
<% if @product.proxy_ip != nil and @product.proxy_port != nil %>
	| The server uses a proxy at <%= link_to @product.proxy_ip+':'+@product.proxy_port, 'http://'+@product.proxy_ip+':'+@product.proxy_port %> to check for this specific product
<% end %>
</small>
<br>
<%#= link_to 'Edit', edit_product_path(@product) %> <!-- | -->